/************************************************
     CSS RESET
	Eric Meyers’ CSS reset and tested 
	box-sizing fix popularized by Paul Irish. 
************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}
html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

/****** End CSS reset ********/

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/*
==============================
Header
==============================
*/

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 1.6rem;
  box-shadow: 0 2rem 2rem -1rem rgba(0,0,0,.1);
  color: #aaa;
  background-color: #f7f8f8;
}

.icon-hamburger {
  margin-right: 1rem;
  font-size: 2.2re
}

.icon-newsletter {
  display: none;
  font-size: 2rem;
  opacity: .6;
}

.primary-header_logo {
  width: 7rem;
}

.primary-header_logo {
  cursor: pointer;
}

.primary-header_nav {
  display: none;
}

.primary-header_nav ul {
  display: flex;
  text-transform: uppercase;
}

.primary-header_nav li {
  margin-right: 0;
}

.primary-header_nav a {
  padding: 1.3em 1rem;
  font-size: 1.5rem;
  color: rgba(0,0,0,.8); 
}

.primary-header_nav a:hover {
  background-color: #fff;
}

/*
=============================
Banner
=============================
*/

.banner {
  display: none;
  width: 100%;
  padding: 1.5rem 2rem;
  font-size: 1.35rem;
  background-color: #f9d731;
}

/*
=============================
Main title
=============================
*/

.main-title {
  max-width: 1280px;
  margin: 8.5rem auto 0;
  text-align: center;
}

.main-title img {
  width: 40rem;
  margin-bottom: 1.8rem;
}

.main-title p {
  font-size: 1.8rem;
  opacity: .7;
}

/*
==============================
Showcase
==============================
*/

.showcase {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  gap: 1rem;
  max-width: 1600px;
  margin: 0 auto;
  padding: 5rem;
  color: #fff;
}

.showcase div:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
  background: url('./images/showcase-images/tattoo.jpeg') no-repeat;
  background-size: cover;
}

.showcase div:nth-child(2) {
  background: url('./images/showcase-images/bookshelves.jpeg') no-repeat;
  background-size: cover;
}

.showcase div:nth-child(3) {
  background: url('./images/showcase-images/conference.jpg') no-repeat;
  background-size: cover;
}

.showcase div:nth-child(4) {
  background: url('./images/showcase-images/raspberry-pi.jpeg') no-repeat;
  background-size: cover;
}

.showcase div:nth-child(5) {
  background: url('./images/showcase-images/meta.jpeg') no-repeat;
  background-size: cover;
}

/*
============================
Popular articles
============================
*/

.popular-articles {
  padding: 5rem;
  background-color: #f7f8f8;
}

.popular-articles h2 {
  text-align: center;
}

.popular-articles ol {
  max-width: 1600px;
  margin: 0 auto;
}

/*
============================
Latest stories
============================
*/

.latest-stories {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem;
}

.latest-stories_card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}






@media screen and (min-width: 1024px) {
  header {
    justify-content: space-between;
    box-shadow: none;
  }

  .icon-hamburger {
    display: none;
  }

  .icon-newsletter {
    display: inline-block;
  }
  
  .primary-header_nav {
    display: block;
  }

  .banner {
    position: fixed;
    top: 52px;
    display: block;
    box-shadow: 0 1.6rem 4rem -1rem rgba(0,0,0,.2);
  }

  .main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15rem;
    padding: 4rem 9rem;
  }

  .main-title img {
    width: 23rem;
  }
  
  .main-title p {
    font-size: 3.5rem;
    opacity: .7;
  }

  .showcase {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
  }

  .showcase div:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .showcase div:nth-child(3) {
    grid-column: 1/3;
    grid-row: 3;
  }

  .showcase div:nth-child(4) {
    grid-column: 4;
    grid-row: 1;
  }

  .showcase div:nth-child(5) {
    grid-column: span 2;
    grid-row: span 2;
  }

  .popular-articles ol {
    display: flex;
  }

  .latest-stories_card-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
  }
}
